.input {
    padding: 7px 15px;
    background: var(--white);
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .05);
    outline-color: var(--primary);
    font-family: var(--font-family);
    line-height: 22px;
    font-size: 16px;
    color: var(--black);
}

.input::placeholder {
    color: var(--gray);
}

.error {
    box-shadow: 0 0 4px var(--red);
}

.inputWrapper {
    position: relative;
}

.errorMessage {
    position: absolute;
    bottom: -20px;
    left: 0;
    color: var(--red);
}
