.search {
    width: 100%;
    position: relative;
}

.input input {
    width: 100%;
}

.button {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 3px;
    top: 3px;
    padding: 7px;
}
