.h1 {
    margin: 0;
    line-height: 35px;
    font-weight: 500;
    font-size: 26px;
}
.h2 {
    margin-top: 50px;
    margin-bottom: 25px;
    line-height: 30px;
    font-weight: 500;
    font-size: 22px;
}
.h3 {
    margin: 0;
    line-height: 27px;
    font-weight: 600;
    font-size: 20px;
}
